

    .header {
        padding: 0;
        margin: 0 auto;
        height: 4.5rem;
        width: 80%;
        border-bottom: 1px solid white;


    }

    .header ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .header li {
        position: relative;
        float: left;
    }

    .header ul {
        display: inline-block;
        font-family: "宋体";
        font-size: 1.2rem;
        width: 40rem;
        height: 4rem;

    }

    .header li a {
        width: 8rem;
        height: 4rem;
        color: #f0f0f0;
        text-align: center;
        line-height: 4rem;

    }

    .header li a:hover {
        color: white;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .header li .active {
        color: white;
        font-size: 1.4rem;
    }

    .header li :last-child {
        float: right;

    }

    #welcome {
        float: right;
        height: 4rem;
        width: 8rem;
        line-height: 4rem;

    }

    #welcome span {
        text-align: center;
        font-size: .8rem;
        color: white;
    }
    #all {
        width:80%;
        height:600px;
        background-color: rgba(0,0,0,0.5);
        margin:30px auto;

    }
    #bar {
        padding-top:60px;
        float:left;
        width:15%;
        height:540px;
        background-color: rgba(255,255,255,0.3);
    }
    #bar ul {
        height:100%;
        width:100%;
    }
    #bar li{
        width:100%;
        height:3rem;
    }
    #bar li a{
        display:block;
        text-decoration: none;
        width:100%;
        padding:0;
        margin-left:-40px;
        letter-spacing: .5rem;
        text-align: center;
        line-height:3rem;
    }
    #bar li a svg{
        width:1rem;
        height:1rem;
        margin-top:1rem;
    }
    #bar li a:hover {
        cursor:pointer;
        background-color: rgba(0,0,0,0.5);
        color:#ddd;
    }
     #bar li .active {
        cursor:pointer;
        background-color: rgba(0,0,0,0.5);
         color:white
    }

    .content {
        float:left;
        width:84.5%;
        height:100%;
        color:white;
    }
    #h2 {
        width:80%;
        margin:0 auto;
        height:60px;
        border-bottom:1px solid white;
        font-size:1.5rem;
        text-align: center;
        line-height:60px;
        letter-spacing: .5rem;
    }
    .content2{
        color:#ddd;
        padding-top:50px;
        padding-left:10%;
        padding-right:10%;
        line-height:2rem;
        text-indent:2rem;
    }
    #us1,#announce1{
            display:none;
        }