body {
    margin: 0;
    padding: 0;
    background: url("/static/image/background.jpg") repeat 0px 0px fixed;
    background-size: 100% 100%;
    z-index: -1;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.header {
    padding: 0;
    margin: 0 auto;
    height: 4.5rem;
    width: 80%;

    border-bottom: 1px solid white;


}

.header ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.header li {
    position: relative;
    float: left;
}

.header ul {
    display: inline-block;
    font-family: "宋体";
    font-size: 1.2rem;
    width: 32rem;
    height: 4rem;

}

.header li a {
    width: 8rem;
    height: 4rem;
    color: #f0f0f0;
    text-align: center;
    line-height: 4rem;

}

.header li a:hover {
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

.header li .active {
    color: white;
    font-size: 1.4rem;
}

.header li :last-child {
    float: right;

}

#welcome {
    float: right;
    height: 4rem;
    width: 8rem;
    line-height: 4rem;

}

#welcome span {
    text-align: center;
    font-size: .8rem;
    color: white;

}

#gen_ul {
    margin: 20px auto;
    height: 60px;
    width: 100%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

}

#gen_ul li {
    width: 120px;
    height: 100%;

}

#gen_ul li a {
    display: inline-block;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;

}

#gen_ul li a:hover {
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    visibility: visible;
}

#gen_ul li a:active {
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.2);
}

#gen_ul li .active {
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.son {
    background-color: rgba(0, 0, 0, 0.3);
}

#fond_flow :not(:first-child) {
    display: none;
}

#fond_flow1 :not(:first-child) {
    display: none;
}

#fond_flow:hover {
    display: block;
}

#fond_flow1:hover {
    display: block;
}


#all {
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.container {
    width: 100%;
    background-color: #f8f8f8;
    height: auto;
    margin: 10px auto;
    box-shadow: #666 0px 0px 15px;
    padding-bottom: 20px
}

.child_header {
    width: 80%;
    height: 70px;
    margin: 20px auto;
    background-color: white;
    box-shadow: #666 0px 0px 15px;
}

.child_header svg {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 15px;
}

#h2 {
    float: left;
    margin: 15px .5rem;
    font-size: 1.25rem;
    color: #34495e;
    height: 40px;
    line-height: 40px;
}

.staff_table table {
    margin-left: .5rem;

}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 10px auto;
    padding: 0;
    margin-bottom: 20px
}

td {

    text-align: left;
    padding: 5px;
    height: 3rem;
/ / text-overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;

}

#tag {
    width: 150px;
}


#staff_table #tag {
    background-color: #34495e;
    color: white;

}

.cRed {
    color: red;
    margin-right: 20px;
}

.cGreen {
    color: green;
    margin-left: 20px
}

#child_body {

}

#pic1, #pic2, #pic3 {
    width: 80%;
    margin: 20px auto;
    border: 1.5px dashed #34495e;
    border-radius: 10px;


}

#part1, #part4, #part6 {
    margin-top: 20px;
    margin-left: 160px;
    width: 100%;
    height: 60px;
}

#part3 {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 60px;
}

#part2, #part5, #part7 {
    width: 600px;
    height: 350px;
    margin: auto;

}

