<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/echarts.min.js"></script>
    <script type="text/javascript" src="/static/comp_index/comp_index.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/comp_index/comp_index.css">
    <title>comp</title>
<body>
<div class="header">
    <ul>

        <li><a class="active" href="/">首页</a></li>
        <li><a href="/login">登录</a></li>
        <li><a href="/register">注册</a></li>
        <li><a>个人中心</a></li>
       <li><a href="/about">关于我们</a></li>
    </ul>
    <div id="welcome"><span>欢迎</span><i class="iconfont &#xe6c8;"></i></div>
</div>
<div id="comp_name">

</div>
<table id="fininfo">
    <tr id="tr1">
        <td rowspan="2" id="price"></td>
        <td id="updown"></td>
        <td id="open"></td>
        <td id="high"></td>
        <td id="volume"></td>
        <td id="highest"></td>
        <td id="syl"></td>
    </tr>
    <tr id="tr2">
        <td id="percent"></td>
        <td id="yestclose"></td>
        <td id="low"></td>
        <td id="turnover"></td>
        <td id="lowest"></td>
        <td id="ltsz"></td>
    </tr>
</table>
<div id="all">
    <ul id="gen_ul">
        <li><a class="active" id="compIndex">首页概览</a></li>
        <ul id="fond_flow">
            <li><a id="zjlx">资金流向</a></li>
            <li><a id="zjlx1" class="son">资金流向</a></li>
            <li><a id="lsjysj" class="son">历史交易数据</a></li>
            <li><a id="lszjlx" class="son">历史资金流向</a></li>
        </ul>
        <li><a id="compAnalysis">财务分析</a></li>
        <li><a id="compStockHolder">股东股本</a></li>
        <li><a id="compInfo">公司简介</a></li>
    </ul>
    <div id="container">

    </div>

    <div class="four" id="wei">
        <span id="weibi"></span>
        <span id="weicha"></span>
    </div>
    <table class="table2">
        <tr>
            <td>卖一</td>
            <td class="price1" id="ask1"></td>
            <td class="num1" id="askvol1"></td>
        </tr>
        <tr>
            <td>卖二</td>
            <td class="price1" id="ask2"></td>
            <td class="num1" id="askvol2"></td>
        </tr>
        <tr>
            <td>卖三</td>
            <td class="price1" id="ask3"></td>
            <td class="num1" id="askvol3"></td>
        </tr>
        <tr>
            <td>卖四</td>
            <td class="price1" id="ask4"></td>
            <td class="num1" id="askvol4"></td>
        </tr>
        <tr>
            <td>卖五</td>
            <td class="price1" id="ask5"></td>
            <td class="num1" id="askvol5"></td>
        </tr>
    </table>
    <div id="dangqianjia" class="four">
        <span id="price_now"></span>

    </div>
    <table class="table2">
        <tr>
            <td>买一</td>
            <td class="price2" id="bid1"></td>
            <td class="num2" id="bidvol1"></td>
        </tr>
        <tr>
            <td>买二</td>
            <td class="price2" id="bid2"></td>
            <td class="num2" id="bidvol2"></td>
        </tr>
        <tr>
            <td>买三</td>
            <td class="price2" id="bid3"></td>
            <td class="num2" id="bidvol3"></td>
        </tr>
        <tr>
            <td>买四</td>
            <td class="price2" id="bid4"></td>
            <td class="num2" id="bidvol4"></td>
        </tr>
        <tr>
            <td>买五</td>
            <td class="price2" id="bid5"></td>
            <td class="num2" id="bidvol5"></td>
        </tr>
    </table>
    <div id="pan" class="four">
        <span id="outside"></span>
        <span id="inside"></span>
    </div>
</div>

</body>
<script>
    $("#fond_flow").mouseover(function () {
        $("#fond_flow :not(:first-child)").css("display", "block");
    });
    $("#fond_flow").mouseout(function () {
        $("#fond_flow :not(:first-child)").css("display", "none");
    });

</script>
</html>