<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>查找</title>
        <script src="/static/jquery-3.4.1.min.js"></script>
        <script src="/static/detail/detail.js"></script>
        <link rel="stylesheet" href="/static/detail/detail.css">
       
        <style>
            #span_mark {
                display:none;
            }
        </style>
    </head>
    <body>
         
        <div class="head">查询结果</div>
        <ul id="com_general">
            <li>

            </li>
        </ul>
    </body>
    <script>
        
    </script>
