<!DOCTYPE html>
<html>
<head>
	<title>首页-财务分析系统</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/index/index1.css">
	
</head>
<style>
    body {
        margin:0;
        padding:0;
        background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1575120050968&di=07857ac0ec2a7d14b143bf49cb6fdb74&imgtype=0&src=http%3A%2F%2Fphoto.tuchong.com%2F56510%2Ff%2F8412122.jpg)
	            repeat 0px 0px fixed;
        background-size:100% 100%;
	    z-index: -1;
    }
   
   
</style>

<body>
<div class="header">
        <ul>
            <li><a class="active">首页</a></li>      
            <li><a href="log.html">登录</a></li>
            <li><a href="register.html">注册</a></li>
            <li><a>个人中心</a></li>
        </ul>
        <div id="welcome"><span >欢迎</span><i class="iconfont &#xe6c8;"></i></div>
</div>

 <div class="slogan">您的智能财务分析系统</div>
 <div class="search">
    <input type="text" placeholder="请输入..." name="" id="" value="" />
    <button><i>搜索</i></button>
</div>
<div>

</div>
</body>
</html>
