<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/moneyFlow/moneyFlow.js"></script>
</head>
<body>
    <div>
        <select id="cmpny_select">
            <option value="code">代码查询</option>
{#            <option value="key">公司名查询</option>#}
        </select>
        <input id="stoke_code">
        <input id="getMoneyFlow" type="button" value="获取具体财务信息">
        <input id="zc" type="button" value="同行业资金流入最多">
        <input id="jc" type="button" value="同行业资金流出最多">
    </div>
</body>
</html>