<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/register/register.js"></script>
</head>
<body>
    <form action="/register" method="post">
        <div>用户注册<br>
            用户名<input id="username"><br>
            密码<input id="password" type="password"><br>
            确认密码<input id="password2" type="password"><br>
            <input id="register" type="button" value="注册">
        </div>
    </form>

</body>
</html>