<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/stockholder/stockholder.js"></script>
</head>
<body>
    <div>
        <select id="cmpny_select">
            <option value="code">代码查询</option>
            <option value="key">公司名查询</option>
        </select>
        <input id="stoke_code">
        <input id="a" type="button" value="高管持股">
        <input id="b" type="button" value="高管持股变动历史">
        <input id="c" type="button" value="高管关联人持股变动历史">
    </div>
</body>
</html>