 body {
            margin: 0;
            padding: 0;

        }
       header {
           background-color:#eee;
           height:44px;
       }

       header div,a {
          height:100%;
          text-decoration:none;
          color:black;
          padding:.5em 0;

       }
       header div:hover {
           cursor:pointer
       }
       .header1 {
           display:flex;
           flex-direction: row;
           justify-content: space-around;

        }
        .header2 {
            height:44px;
            width:100%;
            margin-top:10px;
            background-color:white;
        }
        .dropdown {
            padding-top:10px;
            height:300px;
            background-color:white;

        }
       .selectform {
           margin:0 auto;
           height:100%;
           width:1000px;


       }
       .selectform .selectType {
           display:inline-block;
           margin:0 80px;
           width:100px;
           height:30px;
           border-radius: 5px;
           outline:none;

       }
       option {
           cursor:pointer;

       }
       input {
           display:inline-block;
           border-style: none;
           background-color:#eee;
           color:#999;
           border-radius: 10px;
           height:40px;
           width:350px;
           margin-right:10px;
           outline: none;
       }

       .submit {
         display:inline-block;
         border-style: none;
         width:120px;
         height:40px;
         border-radius: 5px;
         background-color:	#000055;
         color:white;
         letter-spacing: .5rem;
         cursor: pointer;
       }
       .submit:hover {
           cursor:pointer;

       }
       .intro {
           background-color: #34495e;
           margin:100px 0;
           height:400px;

       }
       .intro div:first-child {
           width:500px;
           margin:auto;
           font-size:3rem;
           color:white;
       }
       .intro div:last-child {
           width:500px;
           margin:1.5rem auto;
           font-size:1.5rem;
           color:white;
       }